.heading1 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  text-align: left;
  color: var(--gray900);
  font-weight: bold;
  margin: 0;
}

@media (min-width: 768px) {
  .heading1 {
    font-size: 1.8125rem;
  }
}
