.wantKnowMore_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  width: 100%;
}

.wantKnowMore_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
  margin-bottom: 42px;

  div {
    position: relative;
    width: 100%;
    height: 101px;
    max-width: 101px;
  }

  p {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    margin-left: 12px;

    @media (max-width: 440px) {
      max-width: 223px;
    }
  }
}

.wantKnowMore_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  gap: 20px;

  button {
    font-size: 0.9375rem;
    letter-spacing: 0.1875rem;
    max-width: 289px;

    padding: 12px 60px;

    border-radius: 25px;
    background: var(--yellow200);

    transition: background 0.2s;

    &:hover {
      background: var(--yellow900);
    }
  }
}

.wantKnowMore_bottom_separator {
  display: none;
}

.wantKnowMore_contactUsNow {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 6px;

  h2 {
    font-size: 0.9375rem;
    font-weight: bold;
    color: var(--gray200);
    line-height: 1.25rem;
  }

  > span {
    font-size: 1.5625rem;
    line-height: 2.125rem;
    font-weight: bold;
    margin-bottom: 13px;
    color: var(--yellow400);
  }

  > p {
    font-size: 0.75rem;
    line-height: 1.0625rem;
    color: var(--gray160);
    margin-top: 10px;
  }
}

.wantKnowMore_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  flex: 1;
  max-width: 340px;
  width: 100%;

  font-size: 0.9375rem;
  line-height: 1.25rem;
  text-align: left;
  gap: 12px;

  padding: 12px 45px 12px 58px;

  @media (max-width: 863px) {
    padding: 12px 45px 12px 45px !important;
  }

  background: var(--yellow200);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  color: var(--white100);

  span {
    width: 100%;
  }

  & + button {
    margin-top: 26px;
  }
}

@media (min-width: 768px) {
  .wantKnowMore_title {
    margin-top: 60px;
    margin-bottom: 80px;

    div {
      height: 138px;
      max-width: 138px;
    }

    p {
      font-size: 1.25rem;
      line-height: 1.6875rem;
      margin-left: 47px;
    }
  }

  .wantKnowMore_bottom_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;

    .wantKnowMore_form {
      gap: 0;

      .wantKnowMore_form_image {
        width: 214px;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 25px;
      }
    }

    .wantKnowMore_bottom_separator {
      display: block;
      width: 1px;
      height: 488px;
      margin: 0 62px;
      background: var(--gray190);
    }

    .wantKnowMore_contactUsNow {
      h2 {
        font-size: 1.0625rem;
        line-height: 2.4375rem;
      }

      > span {
        font-size: 1.8125rem;
        line-height: 2.125rem;
        margin-bottom: 31px;
      }

      > p {
        font-size: 0.75rem;
        line-height: 1.0625rem;
        color: var(--gray160);
        margin-top: 10px;
      }

      .wantKnowMore_button {
        height: 90px;
        max-width: 407px;
        flex: 0;

        font-size: 1rem;
        line-height: 1.375rem;
        text-align: left;
        gap: 17px;

        padding: 22px 77px 22px 54px;

        & + button {
          margin-top: 31px;
        }
      }
    }
  }
}
